/**
 * Typography
 * --------------------------------------------------
 * Global typography styles.
 */

@use "sass:map";

html {
  font-size: 16px;
}

body {
  font-family: $ca-font-body !important;
  font-size: 1rem;
  font-weight: normal;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

/* Universal transitions for controls */
a,
input,
button,
textarea {
  @apply
  ease-in-out
  duration-200
  transition;
}