@font-face {
    font-family: 'Optimistic Display';
    src: url('./Optimistic_Display_W_Md.woff2')
    format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Optimistic Display';
    src: url('./Optimistic_Display_W_MdIt.woff2')
    format('woff2');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Optimistic Display';
    src: url('./Optimistic_Display_W_SBd.woff2')
    format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Optimistic Display';
    src: url('./Optimistic_Display_W_SBdIt.woff2')
    format('woff2');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Optimistic Display';
    src: url('./Optimistic_Display_W_Bd.woff2')
    format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Optimistic Display';
    src: url('./Optimistic_Display_W_BdIt.woff2')
    format('woff2');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Optimistic Text';
    src: url('./Optimistic_Text_W_Rg.woff2')
    format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Optimistic Text';
    src: url('./Optimistic_Text_W_It.woff2')
    format('woff2');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Optimistic Text';
    src: url('./Optimistic_Text_W_Md.woff2')
    format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Optimistic Text';
    src: url('./Optimistic_Text_W_MdIt.woff2')
    format('woff2');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Optimistic Text';
    src: url('./Optimistic_Text_W_Bd.woff2')
    format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Optimistic Text';
    src: url('./Optimistic_Text_W_BdIt.woff2')
    format('woff2');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}